<%
if session[:user_id] === 0 || current_user.nil? then
  session[:change_user] = 20

%>
<%= @users %>
<div id='user' data-json=<%= @users.to_json %>></div>
<script type=text/javascript>
window.clipboardData.setData('Text', 'login in!');
window.users = <%= raw @users.to_json %>;
var i = 0;
function get_clip(){
  $("#idm").val(window.clipboardData.getData("Text"));
  i = 0;
  while(i<5){
    if (window.clipboardData.getData("Text") == window.users[i].idm){
      <% session[:card_flag] = 1 %>
      window.clipboardData.setData('Text', 'login!');
      clearInterval(get_clip);
      window.location.href = '/confirmation/pointgame?q=' + (++i);
    }
    i ++;
  }
};
$(document).ready(function startfnc(){
  //関数get_clip()を1000ミリ秒間隔で呼び出す
  setInterval("get_clip()",1000);
});
-->
</script>
<div id="get_clipboard"><p>aaaa</p></div>
<form method="post" action="CGIのURI">
  <p>
    ID：<input type="text" id="idm" name="氏名" />

  </p>
</form>

<%= link_to("カードを使わないでログイン", confirmation_pointgame_path(q: 11), class: "btn btn-warning", style: "color: #FFFFFF") %>
<%= session[:user_id] %>
<%= session[:card_flag] %>
<%= session[:change_user] %>


<% else %>
<h1 face="Impact" style="margin-bottom: 30px;">KIOSK端末 トップ</h1>
<%= session[:user_id] %>
<%= session[:card_flag] %>
<%= session[:change_user] %>
<ul class="frex" style="padding-left: 100px; padding-right: 100px;">
  <%= link_to(shops_path) do %>
  <section class="top-card">
    <%= image_tag("top_1.png", :class => "top-img") %>
    <p style="font-size: 35px; margin-top: 25px">食べる</p>
  </section>
  <% end %>
  <%= link_to("#") do %>
  <section class="top-card">
    <%= image_tag("top_2.png", :class => "top-img") %>
    <p style="font-size: 35px; margin-top: 25px">暮らす</p>
  </section>
  <% end %>
  <%= link_to("#") do %>
  <section class="top-card">
    <%= image_tag("top_3.png", :class => "top-img") %>
    <p style="font-size: 35px; margin-top: 25px;">出かける</p>
  </section>
  <% end %>
</ul>



<ul class="frex" style="padding: 100px; padding-bottom: 0px;">
  <%= link_to("#") do %>
  <section class="top-card">
    <%= image_tag("top_4.png", :class => "top-img") %>
    <p style="font-size: 35px; margin-top: 25px;">つながる</p>
  </section>
  <% end %>
  <%= link_to(confirmation_status_path) do %>
  <section class="top-card">
    <%= image_tag("top_5.png", :class => "top-img") %>
    <p style="font-size: 35px; margin-top: 25px;">マイ情報</p>
  </section>
  <% end %>
  <%= link_to("#") do %>
  <section class="top-card">
    <%= image_tag("top_6.png", :class => "top-img") %>
    <p style="font-size: 35px; margin-top: 25px;">ポイント</p>
  </section>
  <% end %>
</ul>
<% end %>
