<h1>Listing Shops</h1>
<% @shops.each_slice(3) do |shops| %>
<!-- 列 -->
<ul class="frex">
  <% shops.each do |shop| %>
  <!-- カード -->
  <%= link_to(shop) do %>
  <section class="card">
    <%= image_tag(shop.image, :class => "card-img", :alt => "") %>
    <div class="card-content">
      <h1 class="card-title"><%= shop.name %></h1>
      <p class="card-text mojiseigenn"><%= shop.body %></p>
    </div>
    <div class="card-link">
      <ul class="list-inline">
        <li><p style="font-size: 17px;">コメント&nbsp;<span class="badge" style="background-color: #79BAE6"><%= @comments.where(shop_id: shop.id).count %></span></p></li>
        <li><p style="font-size: 17px;">いいね&nbsp;
          <span class="badge"  style="background-color: #EF8B80">
            <%= @likes.where(shop_id: shop.id).count + @c_likes.where(comment_id: @comments.where(shop_id: shop.id)).count %>
          </span>
        </p></li>
        <li><p style="font-size: 17px;">行きました&nbsp;<span class="badge" style="background-color: #69D3BF"><%= @wents.where(shop_id: shop.id).count %></span></p></li>
      </ul>
    </div>
  </section>
  <% end %>
  <!-- カード -->
  <% end %>
</ul>
<!-- 列 -->
<% end %>
