<p id="notice"><%= notice %></p>

<h1>Listing Shops</h1>
<% @shops.each_slice(3) do |shops| %>
<!-- 列 -->
<ul class="frex">
  <% shops.each do |shop| %>
  <!-- カード -->
  <%= link_to(shop) do %>
  <section class="card">
    <%= image_tag(shop.image, :class => "card-img", :alt => "") %>
    <div class="card-content">
      <h1 class="card-title"><%= shop.name %></h1>
      <p class="card-text"><%= shop.body %></p>
    </div>
    <div class="card-link">
      <a href="http://webcreatorbox.com/about">About</a>
      <a href="http://webcreatorbox.com/">Website</a>
    </div>
  </section>
  <% end %>
  <!-- カード -->
  <% end %>
</ul>
<!-- 列 -->
<% end %>
