<h1>
    ショップマップ&nbsp;&nbsp;&nbsp;
  <%= link_to("ショップ一覧へ", shops_path	, class: "btn btn-success", style: "color: #FFFFFF") %>
</h1>
<div id="map"></div>
<style type="text/css">
  #map {
    height:80vh;
  }
</style>
<script type="text/javascript">
    L.Icon.Default.imagePath = "/assets";
    var map = L.map('map').setView([39.703531, 141.152667],15);
    var osmUrl = "http://tile.openstreetmap.jp/{z}/{x}/{y}.png";
    var osmAttrib = "Map data &COPY; OpenStreetMap contributors";
    L.tileLayer(osmUrl, {
        attribution: osmAttrib,
        maxZoom: 20,
    }).addTo(map);
</script>
<% @shops.each do |shop| %>
    <script type="text/javascript">
        var popup = L.popup().setContent('<div class="map-title"><%= shop.name %></div><%= image_tag(shop.image,:size => "86×86", :class => "map-img", :alt => "") %><p style="margin: 5px;">いいね：<span class="badge"  style="background-color: #EF8B80"><%= @likes.where(shop_id: shop.id).count + @c_likes.where(comment_id: @comments.where(shop_id: shop.id)).count %></span>　コメント：<span class="badge" style="background-color: #69D3BF"><%= @comments.where(shop_id: shop.id).count %></span></p><%= button_to "ショップ詳細へ", shop_path(shop.id), :method => :get , :class => "btn btn-info btn-xs" %>');
        var marker = L.marker(
            [<%= shop.latitude %>,<%= shop.longitude %>],
            { name: map.name }
        ).addTo(map).bindPopup(popup);
    </script>
<% end %>
