<!DOCTYPE html>
<html>
<head>
  <title>RailsApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <style type="text/css">
  body {
    padding-top: 80px;
  }
  @media ( min-width: 768px ) {
    #banner {
      min-height: 300px;
      border-bottom: none;
    }
    .bs-docs-section {
      margin-top: 8em;
    }
    .bs-component {
      position: relative;
    }
    .bs-component .modal {
      position: relative;
      top: auto;
      right: auto;
      left: auto;
      bottom: auto;
      z-index: 1;
      display: block;
    }
    .bs-component .modal-dialog {
      width: 90%;
    }
    .bs-component .popover {
      position: relative;
      display: inline-block;
      width: 220px;
      margin: 20px;
    }
    .nav-tabs {
      margin-bottom: 15px;
    }
    .progress {
      margin-bottom: 10px;
    }
  }
  </style>
</head>

<header>
  <div class="bs-component">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Brand</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
          <ul class="nav navbar-nav">
            <li><%= link_to  "SHOP", shops_path %></li>
            <li><a href="#">Link</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">ユーザを変える<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to  "ユーザ１", root_path(q: '1') %></li>
                <li><%= link_to  "ユーザ２", root_path(q: '2') %></li>
                <li><%= link_to  "ユーザ３", root_path(q: '3') %></li>
                <li><%= link_to  "ユーザ４", root_path(q: '4') %></li>
                <li><%= link_to  "ユーザ５", root_path(q: '5') %></li>
              </ul>
            </li>
            <li><a style="font-size: 15px;"><strong style="font-size: 17px;"><%= current_user.name %></strong>でログイン中</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search this site">
              </div>
              <button type="submit" class="btn btn-default">search</button>
            </form>
            <li><a href="#">Inquiry</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

</header>
<body style="background-color: #fffaf0;">
  <div class="container main-container" style="font-family: Helvetica , "游ゴシック" , "Yu Gothic" , sans-serif;">
    <%= yield %>
  </div>

</body>
</html>
